################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PeerTutor/.vs/PeerTutor/v16
/PeerTutor/bin/Debug/netcoreapp2.2
/PeerTutor/.vs/PeerTutor/config
/PeerTutor/bin/Release/netcoreapp2.2
/PeerTutor.Tests/obj/Release/netcoreapp2.2

/PeerTutor/.vs
/PeerTutor.Tests/obj

/PeerTutor.Tests/bin

bin
obj
packages
.vs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

