################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PeerTutor/.vs/PeerTutor/v16
/PeerTutor/bin/Debug/netcoreapp2.2
/PeerTutor/.vs/PeerTutor/config
