@model Review
@{
    ViewData["Title"] = "Create Review";
}


<!-- Modal placeholder -->
<div id="modal-placeholder"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-review" data-url="@Url.Action("Create")">
    Add review
</button>
<br />

