
@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "_HomeLayout";
}



<h1>@ViewData["Title"]</h1>

<h3>What is PeerTutor?</h3>
<p>PeerTutor is a student run tutoring service where students can sign up to tutor and be tutored by other students.</p>

<h3>How much does it cost?</h3>
<p>Each tutoring hour costs $10. The minimum duration of a tutoring session is 1 hour. </p>
