
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_HomeLayout";
}



    <div class="container-fluid">
        <h1>@ViewData["Title"]</h1>
        <p>We only store your login email address and password hash. This information is used to authenticate you and is not shared with any third parties. </p>
    </div>
